/* Google font - Ubuntu */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");

.App:not(.newsCard):not(.newsSquare):not(.newsImg) {
  /* text-align: center; */
}

body {
  margin: 0;
  background-color: #f9f8f7;
  /* font-family: "Ubuntu", sans-serif; */
  /* font-family: 'Lato', sans-serif; */
  /* font-family: 'Roboto Condensed', sans-serif; */
  /* font-family: 'Oswald', sans-serif; */
  /* font-family: 'Source Sans Pro', sans-serif; */
  /* font-weight: 500; */
}

a {
  color: black;
  font-weight: bold;
}

a:hover {
  color: rgb(64, 62, 61);
  background-color: transparent;
}

.error {
  border: 2px solid #ff6565;
}

.error-message {
  color: #ff6565;
  /* padding: .5em .2em; */
  /* height: 1em; */
  /* position: absolute; */
  font-size: 0.8em;
}

.nav-link {
  color: rgb(115, 112, 110);
}

.nav-link:focus,
.nav-link:hover {
  color: rgb(64, 62, 61);
}

.uppercase {
  text-transform: uppercase; 
}

.capitalize {
  text-transform: capitalize;
}

.modalCost {
  margin-top: 10px;
}

/* ------------------------------------------ Trade Page START ------------------------------------------ */

.chartContainer {
  position: relative;
  padding: 50px;
  height: 550px;
  width: 90%;
  margin: 0 auto;
}

.companyWrapper {
  margin-top: 30px;
}

.stockInfo {
  width: 300px;
  display: flex;
  margin: 10px auto;
  justify-content: space-between;

}

.stockLogo {
  height: auto;
  width: 60px;
  margin-right: 20px;
}

.stockHeaderName {
  display: inline;
}

.stockHeaderTicker {
  display: inline;
}

.newsCard {
  display: flex;
  justify-content: center;
  padding: 40px;
}

.newsSquare:hover {
  -webkit-box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.newsSquare {
  width: 460px;
  height: 490px;
  background: white;
  border-radius: 4px;
  box-shadow: 0px 20px 50px #d9dbdf;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.newsImg {
  /* clip: rect(0px, 460px, 220px, 0px); */
  height: 220px;
  border-radius: 4px;
  /* position: absolute; */
  max-width: 100%;
  /* height: auto; */
}

.newsHeadline {
  margin: auto;
  text-align: left;
  margin-top: 20px;
  padding-left: 30px;
  font-size: 24px;
}
.newsSummary {
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #797979;
  line-height: 18px;
}

.newsButton {
  width: 120px;
  padding: 10px 18px;
  border-radius: 3px;
  text-align: center;
  text-decoration: none;
  display: block;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 70px;
  font-size: 12px;
  cursor: pointer;
}

/* ------------------------------------------ Trade Page END ------------------------------------------ */

/* ------------------------------------------ Search Bar START ------------------------------------------ */

/* .searchInputs {
  display: flex;
} */

/* .search input {
  background-color: white;
  border: 0;
  border-radius: 2px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
} */

.searchInput {
  border-radius: 15px;
  font-size: 18px;
  padding: 15px;
  margin-top: 8px;
  height: 50px;
  width: 300px;
}


.searchIcon {
  height: 60px;
  width: 50px;
  background-color: white;
  display: grid;
  place-items: center;
}

input:focus {
  outline: none;
}
.searchIcon svg {
  margin-top: 7px;
  font-size: 35px;
}

.dataResult {
  display: static;
  position: absolute;
  width: 300px;
  right: 19%;
  top: 50px;
  overflow: hidden;
  max-height: 200px;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* .dataResult {
  margin-top: 5px;
  width: 300px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
} */

.dataResult::-webkit-scrollbar {
  display: none;
}

.dataResult .dataItem {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  color: black;
}

.dataItem p {
  margin-left: 10px;
}

a {
  text-decoration: none;
}

#clearBtn {
  cursor: pointer;
}

/* ------------------------------------------ Search Bar END ------------------------------------------ */

.loginInformationSection {
  height: 45px;
  text-align: center;
  padding: 10px;
}